Repository MaterializeInc/demos: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint-requirements

lint:
  name: Lint
  entry: .github/tools/lint.py
  language: python
  additional_dependencies:
  - colored==1.4.3
  - dockerfile-parse==1.2.0
  - ruamel.yaml==0.17.20
  - types-requests==2.27.7

lint-requirements:
  name: Lint requirements
  entry: .github/tools/lint_requirements.py
  language: python
  additional_dependencies:
  - colored==1.4.3
  - dockerfile-parse==1.2.0
  - ruamel.yaml==0.17.20
  - types-requests==2.27.7

Antennas postgres demo for MZ Cloud
  antennas-postgres/.env.example
  antennas-postgres/.gitignore
  antennas-postgres/backend/src/MaterializeClient/SubscribeStream/index.ts
  antennas-postgres/backend/src/MaterializeClient/index.ts
  antennas-postgres/backend/src/app.ts
  antennas-postgres/compose.yaml
  antennas-postgres/helper/src/app.ts
  antennas-postgres/microservice/src/app.ts
Due: lint

Antennas postgres demo for MZ Cloud
  antennas-postgres/README.md
  antennas-postgres/compose.yaml
  antennas-postgres/helper/src/app.ts
Due: lint

Antennas postgres demo for MZ Cloud
  antennas-postgres/helper/src/app.ts
Due: none

Antennas postgres demo for MZ Cloud
  antennas-postgres/.env.example
  antennas-postgres/README.md
  antennas-postgres/backend/src/app.ts
  antennas-postgres/compose.yaml
  antennas-postgres/frontend/src/link.ts
  antennas-postgres/helper/src/app.ts
  antennas-postgres/microservice/src/app.ts
Due: lint

Update ecommerce-confluent/README.md
  ecommerce-confluent/README.md
Due: none

Update ecommerce-confluent/compose.yaml
  ecommerce-confluent/compose.yaml
Due: lint

Add note for auto.create.topics.enable
  ecommerce-confluent/README.md
Due: none

eCommerce demo + Confluent Cloud (#44)
  ecommerce-confluent/.env.example
  ecommerce-confluent/.gitignore
  ecommerce-confluent/README.md
  ecommerce-confluent/compose.yaml
  ecommerce-confluent/demo.png
  ecommerce-confluent/loadgen/Dockerfile
  ecommerce-confluent/loadgen/generate_load.py
  ecommerce-confluent/loadgen/requirements.txt
  ecommerce-confluent/mysql/mysql.cnf
  ecommerce-confluent/mysql/mysql_bootstrap.sql
  ecommerce-confluent/mysql/mysql_dbz.sh
Due: lint

Update Antennas Kafka demo for MZ Cloud (#43)
  antennas-postgres/backend/package-lock.json
  antennas-postgres/frontend/yarn.lock
  antennas-upstash/.env.example
  antennas-upstash/.gitignore
  antennas-upstash/Architecture.png
  antennas-upstash/README.md
  antennas-upstash/backend/.dockerignore
  antennas-upstash/backend/.eslintrc.json
  antennas-upstash/backend/Dockerfile
  antennas-upstash/backend/package.json
  antennas-upstash/backend/src/MaterializeClient/SubscribeStream/index.ts
  antennas-upstash/backend/src/MaterializeClient/TransformStream/index.ts
  antennas-upstash/backend/src/MaterializeClient/WriteStream/index.ts
  antennas-upstash/backend/src/MaterializeClient/index.ts
  antennas-upstash/backend/src/app.ts
  antennas-upstash/backend/tsconfig.json
  antennas-upstash/compose.yaml
  antennas-upstash/helper/.dockerignore
  antennas-upstash/helper/.eslintrc.json
  antennas-upstash/helper/Dockerfile
  antennas-upstash/helper/package-lock.json
  antennas-upstash/helper/package.json
  antennas-upstash/helper/src/app.ts
  antennas-upstash/helper/src/data.ts
  antennas-upstash/helper/tsconfig.json
  antennas-upstash/microservice/.dockerignore
  antennas-upstash/microservice/.eslintrc.json
  antennas-upstash/microservice/Dockerfile
  antennas-upstash/microservice/package-lock.json
  antennas-upstash/microservice/package.json
  antennas-upstash/microservice/src/app.ts
  antennas-upstash/microservice/tsconfig.json
Due: lint

Update antennas postgres demo
  antennas-postgres/.env.example
  antennas-postgres/README.md
Due: none

Update README.md
  README.md
Due: none

Add new version of the dbt get started demo
  dbt-get-started/Dockerfile
  dbt-get-started/README.md
  dbt-get-started/compose.yaml
  dbt-get-started/dbt/models/auction_house.yml
  dbt-get-started/dbt/models/marts/avg_bid.sql
  dbt-get-started/dbt/models/marts/models.yml
  dbt-get-started/dbt/models/marts/winning_bids.sql
  dbt-get-started/dbt/models/sources/auction_house.sql
  dbt-get-started/dbt/models/sources/market_orders_raw.sql
  dbt-get-started/dbt/models/sources/sources.yml
  dbt-get-started/dbt/models/staging/avg_bids.sql
  dbt-get-started/dbt/models/staging/highest_bid_per_auction.sql
  dbt-get-started/dbt/models/staging/models.yml
  dbt-get-started/dbt/models/staging/on_time_bids.sql
  dbt-get-started/dbt/models/staging/stg_market_orders.sql
Due: lint

Remove Docker-specific checks and test workflows
  .github/tests/antennas-kafka.sh
  .github/tests/antennas-postgres.sh
  .github/tests/chbench.sh
  .github/tests/dbt-get-started.sh
  .github/tests/ecommerce-redpanda.sh
  .github/tests/ecommerce.sh
  .github/tests/feature-store.sh
  .github/tools/bump.py
  .github/tools/config.py
  .github/tools/images.yml
  .github/tools/lint.py
  .github/tools/lint_requirements.py
  .github/tools/requirements.txt
  .github/workflows/bump.yml
  .github/workflows/main.yml
  .hadolint.yaml
  .mypy.ini
  .pre-commit-config.yaml
  .prettierrc.yml
Due: lint-requirements

Update dbt-get-started demo
  dbt-get-started/.gitignore
  dbt-get-started/README.md
  dbt-get-started/dbt/dbt_project.yml
  dbt-get-started/dbt/profiles.yml
  dbt-get-started/dbt_project.yml
  dbt-get-started/models/auction_house.yml
  dbt-get-started/models/marts/winning_bids.sql
  dbt-get-started/models/sources/auction_house.sql
  dbt-get-started/models/staging/avg_bids.sql
  dbt-get-started/models/staging/highest_bid_per_auction.sql
  dbt-get-started/models/staging/on_time_bids.sql
  dbt-get-started/profiles.yml
Due: none

Antennas postgres demo for MZ Cloud (#45)
  antennas-postgres/.env.example
  antennas-postgres/.gitignore
  antennas-postgres/README.md
  antennas-postgres/backend/src/MaterializeClient/SubscribeStream/index.ts
  antennas-postgres/backend/src/MaterializeClient/index.ts
  antennas-postgres/backend/src/app.ts
  antennas-postgres/compose.yaml
  antennas-postgres/frontend/src/link.ts
  antennas-postgres/helper/src/app.ts
  antennas-postgres/microservice/src/app.ts
Due: lint

Add abandoned cart example to ecommerce demo
  .gitignore
  ecommerce-confluent/README.md
  ecommerce-confluent/loadgen/generate_load.py
Due: none

Fix a typo
  ecommerce-confluent/README.md
  ecommerce-confluent/loadgen/generate_load.py
Due: none

Add abandoned cart example to ecommerce demo (#47)
  .gitignore
  ecommerce-confluent/README.md
  ecommerce-confluent/loadgen/generate_load.py
Due: none

Remove old eCommerce demo
  ecommerce-confluent/README.md
  ecommerce-confluent/compose.yaml
  ecommerce-confluent/demo.png
  ecommerce-confluent/loadgen/Dockerfile
  ecommerce-confluent/loadgen/generate_load.py
  ecommerce-confluent/loadgen/requirements.txt
  ecommerce-confluent/mysql/mysql.cnf
  ecommerce-confluent/mysql/mysql_bootstrap.sql
  ecommerce-confluent/mysql/mysql_dbz.sh
  ecommerce/.env.example
  ecommerce/.gitignore
  ecommerce/README.md
  ecommerce/compose.yaml
  ecommerce/loadgen/generate_load.py
  ecommerce/mysql/mysql_bootstrap.sql
  ecommerce/mysql/mysql_dbz.sh
Due: lint

Remove old eCommerce demo (#48)
  ecommerce-confluent/README.md
  ecommerce-confluent/compose.yaml
  ecommerce-confluent/demo.png
  ecommerce-confluent/loadgen/Dockerfile
  ecommerce-confluent/loadgen/generate_load.py
  ecommerce-confluent/loadgen/requirements.txt
  ecommerce-confluent/mysql/mysql.cnf
  ecommerce-confluent/mysql/mysql_bootstrap.sql
  ecommerce-confluent/mysql/mysql_dbz.sh
  ecommerce/.env.example
  ecommerce/.gitignore
  ecommerce/README.md
  ecommerce/compose.yaml
  ecommerce/loadgen/generate_load.py
  ecommerce/mysql/mysql_bootstrap.sql
  ecommerce/mysql/mysql_dbz.sh
Due: lint

SQLFluff suggested changes
  dbt-get-started/.sqlfluff
  dbt-get-started/.sqlfluffignore
  dbt-get-started/models/staging/avg_bids.sql
  dbt-get-started/models/staging/highest_bid_per_auction.sql
  dbt-get-started/models/staging/on_time_bids.sql
Due: none

Add purchase retention days
  ecommerce/loadgen/generate_load.py
Due: none

Add missing commit
  ecommerce/loadgen/generate_load.py
Due: none

Path conditions:
  lint: any of: (/(docker-)?compose\.ya?ml$|/Dockerfile$)
  lint-requirements: any of: ^(\.pre-commit-config\.yaml|.github/tools/requirements\.txt)$
